<input type="text" [value]="imgURL" (keyup)="changeImage($event)">
<br>
<!-- this is to use te inpue decorater to pass the data from on component to another use property binding to set the value for the property-->

<hr>
<!--the (itemSelected) is a custom event emitted by the post component which gives the index of the clicked list item-->
<app-post [postImgURL]="imgURL" [numberArray]="a1" (imgSelected)="logImg($event)" (itemSelected)="logItem($event)">
  <h1 id="heading">hello</h1>
  <p id="para"> hii hello kisi ho tum</p>
</app-post>

<hr>
<!-- pipe is used for transforming data and it just modifies the data for that particular template and does not change the property -->
<p>hello {{ name | titlecase }}</p>
<!-- name does not change due to pipe -->
<p>hello {{ name }}!</p>
<p>{{ display() }}</p>

<hr>
<!-- date pipe with format , we can passs rhe arguments after : sign
to create a date we must create a date property with  date object in TS file
currentDate = new Date(); -->
<p>{{ currentDate | date: 'd MMMM, YYYY'}}</p>

<!-- decibel pipe used for formating number system -->
<!-- number is used to format to whole number , it hass parameter
length(length of value before point).(min values after point)-(max value after point) -->
<!-- the below will return 25 because we set to 0-0 means no values after point -->
<p>{{ temp | number: '2.0-0'}}</p>
<hr>
<app-employee></app-employee>
<hr>

<!-- Directives -->
<!-- 1. ngCLass : it is used to change th CSS class dynamically -->
<!-- canbe used in different ways string,array,forLoop,array,object,component Method-->
<!-- 1. as a string we give value to ngClass in string('') format -->
<p [ngClass]="'red fontStyle'">this is a paragraph</p>
<div *ngFor="let item of enRoll" [ngClass]="'blue fontOne'">
  {{ item }}
</div>
<!-- 2. ass array give class in form of array -->
<p [ngClass]="['blue','fontOne']">this is a array ng class</p>

<!-- 3. object we can give class true or false values -->
<p [ngClass]="{'red': true, 'fontStyle' : true}">this is a object ng Class</p>

<!-- 4. component Method we can give ng Class a parameter of method-->
<p [ngClass]="getCss('red')">this is a Component method ng class</p>


<hr>
<!-- 2. [ngStyle] : it is use to bind the CSS styles to particular element -->
<!-- can be given as object = "{'font-size.px': fontSize}"  where .px is a measurment unit and fontSize is varible in ts file-->
<div [ngStyle]="{'font-size.px':fontSize}">
  hii this is fontSize of {{ fontSize }}px
</div>

<hr>
<!-- it is used to store the html template and shows it after a condition -->
<ng-template>
  <p>this is ng template example</p>
</ng-template>
